fieldset {
    width: max-content;
    display: flex;
    flex-direction: column;
}

fieldset div {
    margin-bottom: 20px;
}

label {
    font-size: 20px;
}

input {
    padding: 5px 0px;
    margin-top: 10px;
    border: none;
    border-bottom: solid 1px black;
    text-align: start;
    font-size: 15px;
}

input:focus {
    outline: 0;
}

select {
    padding: 5px;
    border: solid 1px black;
    margin-top: 10px;
    font-size: 15px;
}

input[type="file"] {
    display: none;
}

.label_file {
    padding: 16px 8px;
    border-radius: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    border: solid 1px rgb(3, 129, 20);
    text-align: center;
    display: block;
    margin-top: 10px;
    cursor: pointer;
    font-size: 1.2rem;
}
